<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>    

</head>
<body>
    <nav class="d-flex justify-content-around bg-dark text-white align-items-center">    
        <h1>Admin Page</h1>
        <a class="text-decoration-none text-white" href="/admin">Dashboard</a>
        <a class="text-decoration-none text-white" href="/trainer/new">Krijo Trainer</a>
        <a class="text-decoration-none text-white" href="/class/new">Krijo Klase</a>

        <a class="text-decoration-none text-white" href="/logout">Logout</a>
    </nav>
    <h2>Mesuesit</h2>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Emri</th>
            <th scope="col">Mbiemri</th>
            <th scope="col">Specialitet</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
            {% for teacher in teachers %}
          <tr>
            <th scope="row">{{teacher.firstName}}</th>
            <td>{{teacher.lastName}}</td>
            <td>{{teacher.speciality}}</td>
            <td><a class="btn btn-warning" href="/edit/trainer/{{teacher.id}}">Edit</a></td>
          </tr>
          {% endfor %}
        
         
        </tbody>
      </table>

</body>
</html>